<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="meezan_bank_config_provider" xsi:type="object">Meezan\MeezanBank\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Meezan\MeezanBank\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Stdlib\CookieManagerInterface">
        <plugin name="switch_samesite"
                type="Meezan\MeezanBank\Plugin\SwitchSameSite"
                sortOrder="10"/>
    </type>
</config>