.wk_row{ width:100%; margin-top: 8px; }
.wk_label{
    display: inline-block;
    margin-left: 38px;
    vertical-align: top;
    width: 25%;
}
.wk_back_link {
    float: left;
    font-size: 14px;
    height: 26px;
    margin: 0;
    padding: 12px 0 0 15px;
}
.mpaffiliate-user-banner th{
    border: 1px solid #ccc;
}
.mpaffiliate-user-banner td{
    border: 1px solid #ccc;
}
.mpaffiliate-user-commission th{
    border: 1px solid #ccc;
}
.mpaffiliate-user-commission td{
    border: 1px solid #ccc;
}
.mpaffiliate-user-summary th{
    border: 1px solid #ccc;
}
.mpaffiliate-user-summary td{
    border: 1px solid #ccc;
}
.mpaffiliate-user-sales th{
    border: 1px solid #ccc;
}
.mpaffiliate-user-sales td{
    border: 1px solid #ccc;
}
.mpaffiliate-user-payments th{
    border: 1px solid #ccc;
}
.mpaffiliate-user-payments td{
    border: 1px solid #ccc;
}
.wk_content { border: 1px solid #CCC;}
.wk_content .head { border-bottom: 1px solid #CCCCCC; height: 40px; padding: 0 10px; }
.wk_content .head .label.name, .wk_content .wk_row_view .label.name { width: 100px; }
.wk_content .head .label {
    display: inline-block;
    float: none;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    padding: 5px;
}
.wk_row_view{ border-bottom: 1px solid #CCCCCC;min-height: 35px;padding: 0 10px; }
.wk_content .head .label.name, .wk_content .wk_row_view .label.name { width: 135px; }
.wk_content .head .label.preview { width: 99px; }
.wk_row_view .label {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 3px !important;
}
.wk_row_view .label .image { margin: auto;}
.wk_row_view .label.preview { width: 99px; }
.wk_row_view .label img { cursor: pointer; }
.btn_primary {
    background-color: #006DCC;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    display: inline-block;
    line-height: 20px;
    opacity: 0.8;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    width: 170px;
}
.btn_primary:hover { opacity: 1!important; }
.list_seller_product {
    border: 1px solid #CCCCCC;
    display: inline-block;
    float: left;
    padding: 10px;
    width: 98%;
    margin-top: 10px;
}
.list_seller_product a  img {
    border: 1px solid #CCCCCC;
    height: 93px;
    margin: 3px;
    width: 99px;
}
.list_seller_product .label{
    color: #666666;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.list_seller_product a  img:hover {opacity:0.8;}
.list_seller_product a{text-decoration:none;position: relative;}
.mp_landing_hover{
    background: url("../images/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: none;
    font-weight: bold;
    height: 51px;
    left: 4px;
    opacity: 1;
    padding-top: 43px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 1px;
    width: 99px;
}
.list_seller_product a:hover .mp_landing_hover{display:block;}
.wk_emptymsg {
    color: #DF2111;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.wk_content.sales_list .head .label,.sales_list .wk_row_view .label{
    width:100px;
}
/*for Xchart*/
#placeholder {
    width: 580px;
    border: 1px solid #CDCDCD;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 15px;
    position: relative;
    box-shadow: 1px 1px 2px #EEE, 0 -3px 5px #F3F3F3 inset;
}
#chart{
    width: 570px;
    height: 400px;
}
.ex-tooltip{
    position: absolute;
    background: #EEE;
    border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 1px 3px black;
    box-shadow: 0 1px 3px black;
    border-collapse: separate;
    display: none;
}
.wk_content .head .label.ip_address,.wk_content .head .label.date,.wk_content .head .label.time,
.wk_content .wk_row_view .label.ip_address,.wk_content .wk_row_view .label.date,.wk_content .wk_row_view .label.time{
    width:90px;
}
.wk_content .head .label.ref_url,
.wk_content .wk_row_view .label.ref_url{
    width:269px;
}
.wk_content.emilcampaign{border:none;}
.emaildivproduct{
    width: 100%;
    padding: 10px 0;
}
.productslist {
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    height: 90%;
    left: 1.5%;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 2%;
    width: 92.5%;
    overflow: auto;
    z-index: 96;
}
.productslist button {
    padding: 10px 0;
    position: relative;
}
.productslist .product {
    display: inline-block;
    width: 150px;
    padding:2px;
}
.productslist .product input{margin-right:5px;}
.wk_traffic_anchor_css a {
    display: inline-block;
    color: #5F5D5C;
    text-decoration: none !important;
}
.wk_traffic_anchor_css {
    font-weight: bold;
}
.wk_traffic_anchor_css a:hover {
    display: inline-block;
    color: #EA7900;
}
.wk_traffic_anchor_css strong {
    display: inline-block;
    color: #EA7900;
}
div.wk_traffic_anchor_css span{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.hor-scroll .table {
    border: 1px solid #ccc;;
}
.order-products-toolbar {
    margin-top:5px
}
input.aff_btn{
    background: url("../images/mail.png") no-repeat 8px center;
    padding-right: 6px;
    padding-left: 46px;
    height: 32px;
    cursor: pointer;
    border: 1px solid #CCCCCC;
}
input.aff_savebtn{
    background: url("../images/save.png") no-repeat 8px center;
    padding-right: 6px;
    padding-left: 46px;
    height: 32px;
    cursor: pointer;
    border: 1px solid #CCCCCC;
}

@media all and (max-width: 780px), print {
    .account.page-layout-2columns-left .page-wrapper #maincontent > div.columns {
        margin-top: 20%;
    }
}
@media all and (max-width: 470px), print {
    .account.page-layout-2columns-left .page-wrapper #maincontent > div.columns {
        padding-top: 18%;
    }
}
@media all and (max-width: 380px), print {
    .account.page-layout-2columns-left .page-wrapper #maincontent > div.columns {
        padding-top: 25%;
    }
}
@media all and (max-width: 380px), print {
    .account.page-layout-2columns-left .page-wrapper #maincontent > div.columns {
        padding-top: 25%;
    }
}
@media all and (max-width: 300px), print {
    .account.page-layout-2columns-left .page-wrapper #maincontent > div.columns {
        padding-top: 45%;
    }
}

.aff_btn:hover{
    background-color: #eee;
}
.aff_head{
    background: url("../images/emails_big.png") no-repeat 8px center;
    display: block;
    height: 64px;
    padding-left: 69px;
}
.aff_graph_head{
    background: url("../images/statistics_big.png") no-repeat 8px center;
    display: block;
    height: 64px;
    padding-left: 80px;
}
.aff_banner_head{
    background: url("../images/textbanner.png") no-repeat 8px center;
    display: block;
    height: 64px;
    padding-left: 80px;
}
.aff_head_title{
    margin: 0;
    padding-bottom: 8px;
    color: #0B55C4;
    font-size: 20px;
    font-weight: bold;
    line-height: 64px;
}

.aff_dashboard-container {
    border: 1px solid #CCCCCC;
    padding: 20px;
}
.aff_popup_light {
    border: 2px solid #CCCCCC;
    overflow: visible;
    padding: 10px;
    position: fixed;
    right: 15%;
    top: 15%;
    width: 68%;
    z-index: 65557;
    background-color: #000000;
    bottom: 15%;
    left: 15%;
}
.aff_bannerpopup_light {
    overflow: visible;
    padding: 10px;
    position: fixed;
    right: 30%;
    text-align: left;
    top: 35%;
    width: 40%;
    z-index: 65557;
    background-color: #000000;
    bottom: 35%;
    left: 30%;
    border: 2px solid #CCCCCC;
}
.aff_bannerprev_light {
    overflow: visible;
    padding: 10px;
    position: fixed;
    right: 30%;
    text-align: left;
    top: 20%;
    width: 500px;
    height: 350px;
    z-index: 65557;
    background-color: #000000;
    bottom: 20%;
    left: 30%;
    border: 2px solid #CCCCCC;
}
.aff_popup_fade {
    background-color: #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.aff_popup_delete {
    background: url("../images/closebox.png") no-repeat scroll rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    right: -15px;
    top:-15px;
}
.aff_popup_content{
    overflow: auto;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.aff_popup_content_div{
    text-decoration: none;
    padding: 10px;
    border: 1px solid #CCC;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15%;
    bottom: 15%;
    overflow: hidden;
}

.wk_fieldset{
    margin: 0px;
    padding:8px 10px 12px 12px;
    border-top:none;
}
.wk_btn_container .wk_unapprove{
    margin-left: 18px;
    min-width: 52%;
    }
.wk_btn_container .wk_approve{
    margin-left: 18px;
    min-width: 52%;
    }
.wk_btn_container{
    padding: 0px !important;
    width: 100% !important;
    }

.wk_btn_container1 .wk_unapprove{
    margin-left: 18px;
    width: 100px;
    }
.wk_btn_container1 .wk_approve{
    margin-left: 18px;
    width: 100px;
    }

.opacity{
    opacity:0.4;
}
#preview-block .close_block {
    background-color: #DE5400;
    border: 2px solid #DE5400;
    border-radius: 14px;
    color: #FFFFFF;
    font-size: 0.7em;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: -16px;
    top: -16px;
    width: 12px;
    cursor:pointer;
}
.nicEdit-main{
    width: 100% !important;
}
.wk_first_td_th{
    border-left: none !important;
}
.wk_achor{
    text-decoration: none !important;
}
.default_right, .default_cross{
    cursor: auto !important;
}
.wk_button_a {
    background: none repeat scroll 0 0 #f18200;
    color: #fff;
    cursor: pointer;
    font-weight: inherit;
    margin: 0;
    overflow: visible;
    padding: 3px;
    width: auto;
}
.wk_button_a:hover{
    color: #fff;
}
#preview-block {
    border: 4px solid #000000;
    background: none repeat scroll 0 0 #FFFFFF;
    left: 50%;
    opacity: 1 !important;
    position: fixed;
    text-align: center;
    top: 50%;
    z-index: 2147483647 !important;
}
.opacity{
    opacity:0.4;
}
#preview-block .close_block {
    background-color: #DE5400;
    border: 2px solid #DE5400;
    border-radius: 14px;
    color: #FFFFFF;
    font-size: 0.7em;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: -16px;
    top: -16px;
    width: 12px;
    cursor:pointer;
}
.wk_box{
    background-image: url("<?php echo Mage::getBaseUrl('skin').'/adminhtml/default/default//images/ajax-loader-tr.gif'?>");
    background-positimargin-top: 20%;on: center center;
    background-repeat: no-repeat;
    }
#wkaff_hide{
    display: none;
    margin: -26px 0 0 147px;
    position: absolute;
    text-align: left;width:auto;
    z-index: 9999;
}
.wk_marquee {
  height: 25px;
  width: 600px;

  overflow: hidden;
  position: relative;
}
.wk_marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 8s linear infinite;
  -webkit-animation: marquee 8s linear infinite;
}
.wk_marquee p {
  float: left;
  width: 50%;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
@-webkit-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.wk_msg_heading{
    font-weight: bold;
    color: #F18200;
}
.wk_aff_pay{
    cursor: pointer;
}
.wk_pay_content .form-list .input-box, .wk_pay_content .form-list .input-box input, .wk_pay_content .form-list .input-box textarea {
    width: 99%;
}
.banner_filter a {
    display: inline-block;
    color: #5F5D5C;
    text-decoration: none !important;
}
.banner_filter {
    font-weight: bold;
    background-color: #f5f5f5;
    padding:10px;
    margin-bottom: 10px;
}
.banner_filter a:hover {
    display: inline-block;
    color: #EA7900;
}
.banner_filter strong {
    display: inline-block;
    color: #EA7900;
}
div.banner_filter span{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.wk_mpaffiliate_block {
    z-index: 5;
    border-left: 1px solid #ccc;
    display: none;
    margin-left: 8px;
    position: absolute;
    width: 30%;
    left: 125px;
    background: whitesmoke;
    top: 0px;
}
.wk_mpaffiliate_block:after, .wk_mpaffiliate_block:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    left: -1px;
    margin-top: -25px;
    position: absolute;
    width: 0;
}
.wk_mpaffiliate_block:after {
    border-left-color: #ffffff;
    border-width: 7px;
    top: 36px;
}
.wk_mpaffiliate_block {
    width: 80% !important;
}
.wk_mpaffiliate_block:before {
    border-left-color: #cccccc;
    border-width: 9px;
    top: 34px;
}
ul.sub-menu {
    padding-left: 5px;
}
.mass-action-btn {
    padding: 7px;
    float: left;
}
.mass-action-option {
    width: 132px;
    float: left;
    margin: 5px 0px;
    margin-right: 10px;
}
.pager p.toolbar-amount{
    position: relative !important;
}
.pager .limiter {
    float: right;
} 
.showData
{
     padding-bottom: 20px;
     word-wrap: break-word;
}
.showdata
{
   float:left;
   margin-left: 10px;
   height:150px;
   cursor: pointer;
   padding: 5px;
   border: 1px solid #CCC;
   width:10%;
   display: inline-block;
   overflow: overlay;
}
.showfield{
    border:1px solid red !important;
}
.wk-mpaffiliate.message {
    TEXT-ALIGN: left!important;
    DISPLAY: INLINE-BLOCK!important;
    margin-right: 10px!important;
}
.mpaffiliate-marketplace-navigation{
    position: relative;
}
#all-banner {
    margin-top: 50px;
}
.wk-affiliate-terms-label::after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
.account-nav.wk-affiliate-main {
    top:60px;
}
.wk-mp-aff-searchbox {
    padding: 10px 0;
}
