

/* .field.phone {
    padding: 0px 0;
}
.field.email.required {
    padding: 3px 0px;
} */



.field.budget {
    padding: 18px 0px;
}
/*.page-titletakaful {
    text-transform: capitalize;
    font-size: 2.4rem;
    font-weight: normal;
    margin: 20px 0;
    text-align: center;
}*/