#--------------------------#
# Magento Default Files    #
#--------------------------#

/PATCH_*.sh

/app/etc/local.xml

/media/*
!/media/.htaccess
/generated/*
!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml

/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/config.php
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/custom_options/*
!/pub/media/custom_options/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/media/sitemap/*
!/pub/media/sitemap/.htaccess
/pub/static/*
!/pub/static/.htaccess

/.htaccess
/Dockerfile
/pub/media/
/pub/media/*
/pub/1703571912_filesystem_media.tgz
/var
/composer.json
/composer.lock
/composer.lock-bk
/package.json.sample
/ec2-13-201-30-165.ap-south-1.compute.amazonaws.com
/auth.json
/auth.json.sample
/info.php
/nginx.conf.bkp24Dec26
/nginx.conf.bkp17Dec23
/test-file/*
/script.sh.bkp
/home/*
/grunt-config.json.sample
/Gruntfile.js.sample
/ValidateCustomer/
/app/code/Imark/OdooIntegration/Observer/OrderObserver.phpu
/app/design/frontend/MageBig/martfury-14Nov24.zip
/app/design/frontend/MageBig/martfury.zip
app/code/Imark/OdooIntegration/Observer/OrderObserver.phpu
app/design/frontend/MageBig/martfury-14Nov24.zip
app/design/frontend/MageBig/martfury.zip
/app.bkp/*
/docker-compose.yml
/dockercomposeguide
/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store

/pub/Imark_OrderStatusChange.zip
pub/Imark_OrderStatusChange.zip
#Wasif Magento Ignore
.editorconfig
.htaccess.bkp
.htaccess.sample
.php_cs.dist
.user.ini
app/code/Imark/MobileLogin/
app/code/Imark/OdooIntegration.zip
app/code/Imark/Sitemap.zip
app/code/MageBig/FastCheckout.zip
app/code/MageBig/MbLib.zip
app/code/Vendor/
app/design.zip
composer.lock.bkp
composer.lock.bkp-26Feb24
dev/tests/acceptance/.gitignore
dev/tests/api-functional/.gitignore
dev/tests/setup-integration/.gitignore
dev/tests/static/.gitignore
dev/tests/static/testsuite/Magento/Test/_files/
dev/tests/unit/.gitignore
dev/tests/unit/tmp/
generated/
magento-module/
modules-dependencies.csv
nginx.conf.bkp
pub/errors/404.php
pub/errors/503.php
pub/errors/506.php
pub/health_check.php
pub/htaccess
pub/info.php
pub/test.html
pub/test.php
pub/web_system.php
pub/Imark_OrderStatusChange.zip
