/* CSS FOR THE PRODUCT PAGE START */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black-custom-color: #231f20;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --white-color: #fff;
    --black-color: #000;
    --linear-gradient-button-color: linear-gradient(to right, #eb1b93, #fe1b08);
    --linear-gradient-carousel-button-color: linear-gradient(
        to bottom,
        #eb1b93,
        #fe1b08
    );
    --product-card-border-color: #a7a9ac;
    --discount-span-color: #f14705;
    --star-pink-color: #ff4081;
    --button-red-color: #c53e3e;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Top Heading Section Background Color Start */
#C .wrapper-breadcrums {
    display: block;
    background: #f5f5f5;
}
/* Top Heading Section Background Color End */

/* Main Section Styling Start */

.product.media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-product-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.padding-main-custom {
    padding: 0 2%;
}

.product-multiple-image {
    max-width: 100%;
    width: 31%;
}

/* Content Descriptiion Section Start */
.page-title-wrapper {
    display: flex;
    justify-content: start;
}

.product-decription-section h3 {
    margin-left: 0.1rem;
}

.page-title {
    width: 100%;
}

.title-heading {
    font-size: 1.65rem;
    font-weight: 500;
    color: var(--black-custom-color);
}


/* Star Rating Section Start */
.star-rating-section {
    display: flex;
    justify-content: start;
    width: max-content;
    align-items: center;
    gap: 0.2rem;
}

.star-rating-section .rating-span {
    font-size: 1rem;
    margin-left: 0.14rem;
}

.star-rating-section .fa-star {
    color: var(--star-pink-color);
    font-size: 1rem;
}

.star-rating-section #black {
    color: var(--black-custom-color);
}

/* Star Rating Section Start */

/* CSS For The Product Heading Start */

.page-title-wrapper .page-title span {
    font-weight: 500;
}

/* CSS For The Product Heading End */

/* Product Price Section CSS Start */

.product-info-price {
    border-bottom: none;
}

.product-info-price .price-box {
    display: flex;
    align-items: center;
}

.product-info-price .price-box .price-wrapper .price {
    background: linear-gradient(to right, #ea1b96, #ff1b01);
    background-clip: text;
    color: transparent;
    font-weight: 500;
    font-size: 2.5rem;
}
.product-info-price .old-price .price-wrapper .price {
    color: #000;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 1.5rem;
}


/* Product Price Section CSS End */

/* Product Detailed Section Border Styling Start */
.product.attribute.overview {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.product.attribute.overview .value {
    margin: 1.5rem 0rem;
}
/* Product Detailed Section Border Styling End */

/* Product Description Highlight Heading Start */
.highlight-heading {
    font-size: 2.3rem;
    color: var(--black-color);
    font-weight: var(--font-weight-500);
}

/* Product Description Highlight Heading End */

/* Quantity Div Styling Start */

.box-tocart .fieldset-add .custom-qty button {
    background-color: transparent !important;
}

.box-tocart .fieldset-add input.input-text {
    font-weight: 600 !important;
    height: 35px !important;
}

.box-tocart .fieldset-add .custom-qty button span {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.box-tocart .fieldset-add input.input-text {
    border: 1px solid #c1b8b8 !important;
}

/* Quantity Div Styling End */

/* Product SKU Styling Start */

.product.attribute.sku {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.product.attribute.sku strong.type:first-of-type {
font-weight: 400 !important;

}


/* Product SKU Styling End */

/* CSS For The Social Icons Div Start */
.social-share {
    display: flex;
    justify-content: start;
}

/* CSS For The Social Icons Div End */

/* Product Availaibility CSS Start */
.product-availability-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.product-availability-info .product-availaibility-inner {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.7rem;
}

.product-availaibility-inner-second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item-tag {
    color: var(--black-custom-color);
    font-weight: var(--font-weight-500);
}

.product-availability-info .product-availaibility-inner .product-item-value {
    background: linear-gradient(to right, #ea1b96, #ff1b01);
    background-clip: text;
    color: transparent;
    text-align: start;
}
/* Product Availaibility CSS End */

/* Product Quantity Section Styling Start */

/* Product Quantity Section Styling Start   */
.product-quantity-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.3rem;
    width: max-content;
}

.qty-heading {
    width: 100%;
}

.qty-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 2px;
    overflow: hidden;
}
.qty-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0rem 1.3rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.qty-display {
    font-weight: 500;
    padding: 0 0.5rem;
}

.lineupquantity {
    padding-left: 0px !important;
}


.custom-border-description {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

/* Product Quantity Section Styling End */

/* Product BTN Section Styling Start */

.product-button-section .add-to-cart-btn {
    outline: none;
    border: none;
    background: var(--linear-gradient-button-color);
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: var(--font-weight-700);
    padding: 0.8rem 3rem;
    font-size: 2.1rem;
    border-radius: 0rem;
}

.product-button-section .buy-now-btn {
    border: 0.2rem solid;
    border-image: var(--linear-gradient-button-color) 1;
    background: var(--white-color);
    text-transform: uppercase;
    font-weight: var(--font-weight-700);
    padding: 0.8rem 3rem;
    font-size: 2.1rem;
}
/* Product BTN Section Styling End */

/* Policy Container CSS Start */
.policies-section .additional-complete-policy .policy-wrap-container {
    background-color: #f3f4f6;
    border-radius: 1.6rem;
    padding: 0.7rem 0.4rem;
    gap: 1.2rem;
}

.policies-section .additional-complete-policy {
    width: 100%;
    max-width: 72%;
}

.policies-section
    .additional-complete-policy
    .policy-wrap-container
    .policy-outer-box {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.9rem;
    margin: 0rem 1rem;
}

.policies-section
    .additional-complete-policy
    .policy-wrap-container
    .policy-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.policies-section
    .additional-complete-policy
    .policy-wrap-container
    .policy-content
    .policy-content-heading {
    font-size: 1.8rem;
    text-align: start;
    padding-top: 0.8rem;
    font-weight: var(--font-weight-400);
}

.icon-box {
    width: 39%;
}

.icon-box .affordable-price-style {
    width: 85%;
}

/* Policy Container CSS End */

/* Product Discount Banner Styling Start */

.product-discount-banner {
    margin-top: 1rem;
}
.product-discount-banner .product-discount-banner-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Product Discount Banner Styling End */

/* CSS To Hide The Social Icon div Start */
#C .catalog-product-view .rewardssocial-buttons {
    display: none;
}
/* CSS To Hide The Social Icon div Start */

/* CSS To Hide the Border Bottom of the three section Start */
.product-info-main-top {
    border-bottom: none;
}

/* CSS To Hide The Categories Section in Product Description Start */
.cat-links {
    display: none;
}
/* CSS To Hide The Categories Section in Product Description End */

/* Main Section Styling End */

/* CSS For Card Section Start */
.card-parent-container {
    margin-top: 4%;
    padding: 0 5%;
    /* border: 1px solid red; */
}

.related-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0.4rem;
    margin: 3% 1% 1% 1%;
}





/* CSS For Card Section End */
.related-product-container {
    border-bottom: 2px solid var(--product-card-border-color);
    padding: 1.2rem 0.4rem 0.1rem 0.4rem;
}

.related-product-container .related-product-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-top-heading {
    font-size: 2rem;
    font-weight: var(--font-weight-500);
    color: var(--black-custom-color);
    text-transform: uppercase;
    text-align: center;
}

/* .carousel-parent-container{
  border: 1px solid brown;
} */

.card .product-card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .discount-tag-para {
    position: absolute;
    top: 0;
    right: 0;
}

.card .discount-tag-para .discount-tag-span {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--linear-gradient-button-color);
    color: var(--white-color);
    padding: 0.1rem 0.3rem;
    text-align: center;
    font-weight: var(--font-weight-600);
}

.card .product-card-image-container .product-card-image {
    width: 100%;
}

.card-body .card-title {
    text-align: left;
    font-weight: var(--font-weight-400);
    font-size: 1.1rem;
}

.card-body .star-rating .fa-star {
    color: var(--star-pink-color);
}

/* .card-body .star-rating {
    font-size: 0.78rem;
    margin-bottom: 0.5rem;
} */

.card-body .star-rating #black {
    color: var(--black-custom-color);
}

.card-body .price-box-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.card-body .price-box-container .current-price {
    background: var(--linear-gradient-button-color);
    color: transparent;
    background-clip: text;
    font-weight: var(--font-weight-400);
    font-size: 1.7rem;
}

.card-body .price-box-container .old-price {
    text-decoration: line-through;
    font-weight: var(--font-weight-400);
    font-size: 1.19rem;
}

.card .product-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    transition: visibility 250ms ease, opacity 250ms ease, margin 250ms ease;
    visibility: hidden;
}

.card:hover .product-btn {
    visibility: visible;
    /* transition: visibility 250ms ease, opacity 250ms ease, margin 250ms ease; */
}

.card .product-btn .quick-view-btn {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .product-btn .quick-view-btn:hover {
    background-color: var(--button-red-color);
}
.card .product-btn .quick-view-btn:hover .bi-eye {
    color: var(--white-color);
}

.card .product-btn .quick-view-btn .bi-eye {
    color: var(--black-color);
}

.card .product-btn .quick-view-btn .bi-eye:hover {
    color: var(--white-color);
}

.card .product-btn .add-to-cart-inner {
    border-radius: 0.6rem;
    background-color: var(--button-red-color);
    border: none;
    color: var(--white-color);
    padding: 0.37rem 0.8rem;
}

.card {
    border-radius: 0.1rem;
    border: none;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.owl-previous-card {
    position: absolute;
    top: 44%;
    left: 0.1%;
    background: var(--linear-gradient-carousel-button-color);
    color: var(--white-color);
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    border: none;
}

.owl-previous-card .bi-chevron-left {
    font-size: 1.8rem;
    font-weight: 400;
}

.owl-nav-container {
    display: block;
}

.owl-nav-container .owl-previous-card {
    width: 100%;
    max-width: 2%;
}

.owl-nav-container .owl-next-card {
    width: 100%;
    max-width: 2%;
}

.owl-next-card {
    position: absolute;
    top: 44%;
    right: 0.1%;
    background: var(--linear-gradient-carousel-button-color);
    color: var(--white-color);
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    border: none;
}

.owl-next-card .bi-chevron-right {
    font-size: 1.8rem;
    font-weight: 400;
}

.carousel-control-prev {
    z-index: 999;
}

/* CSS FOR THE EXTRA PRODUCT IMAGES START */
.fotorama__nav-wrap {
    position: relative; /* Position thumbnails below the image */
    margin-top: 10px;  /* Add spacing between the image and thumbnails */
    text-align: center; /* Center thumbnails */
}

.fotorama__nav--thumbs {
    display: flex;
    justify-content: start; /* place the thumbnail at the start row */
    gap: 10px; /* Add spacing between thumbnails */
}

/* CSS FOR THE EXTRA PRODUCT IMAGES END */

.no-display {
    display: none !important;
}

/* CSS FOR THE QUANTITY START */

.lineupquantity {
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
}

.fieldset-add .container {
    padding-left: 0px !important;
}

/* CSS FOR THE QUANTITY END */

/* CSS FOR THE DETAILS SECTION START */

.red-gradient-color {
    background: var(--linear-gradient-button-color) !important;
    border: 1px solid red !important;
}

.red-gradient-color:hover {
    color: #fff !important;
}

.description-heading:hover::before {
    transform: scaleX(1);
}

.description-heading::before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2px;
    transition: all 0.25s;
    background: var(--linear-gradient-button-color);
    transform: scaleX(0);
}

/* CSS FOR THE DETAILS SECTION END */

/* CSS FOR THE DESCRIPTION SECTION START */

.product-button-section {
    gap: 0.9rem;
}

.description-parent-container {
    border-bottom: var(--product-card-border-color);
    padding: 0 3%;
    margin-top: 4rem;
}

.review-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}

/* CSS To Give 100% Width to the parent container of button Start */

.box-tocart .fieldset-add {
    width: 100%;
    margin-top: 1.9rem;
}

/* CSS To Give 100% Width to the parent container of button Start */

.product.data.items .item.content {
    border-top: 2px solid var(--product-card-border-color);
}

.description-heading {
    text-transform: uppercase;
    color: var(--black-custom-color) !important;
    font-weight: var(--font-weight-600) !important;
    font-size: 2.47rem;
    position: relative;
}

.description-parent-container .review-parent-container .parition-breaker {
    font-weight: var(--font-weight-500);
    font-size: 1.7rem;
}

.description-parent-container
    .review-parent-container
    .review-inner-heading
    .review-heading {
    text-transform: uppercase;
    color: var(--black-custom-color);
    font-weight: var(--font-weight-600);
    font-size: 2.5rem;
}

.review-parent-container {
    border-bottom: 2px solid var(--product-card-border-color);
}

.description-inner-heading {
    padding-bottom: 0.5rem;
    display: inline-block;
    float: none;
    margin-right: 1.4rem;
}

.parition-breaker {
    padding-bottom: 0.5rem;
}

.review-inner-heading {
    padding-bottom: 0.5rem;
}

.description-parent-container .description-para-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-parent-container
    .description-para-container
    .description-paragraph {
    text-align: center;
    color: var(--black-color);
    font-weight: var(--font-weight-400);
    text-transform: capitalize;
}

.description-icon-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.description-icon-parent-container .description-icon-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS To Hide Uneccesary div Start */

/* CSS To Hide Uneccesary div End */

/* .description-icon-inner-container .icon-container-instagram{
  width: 100%;
  max-width: 40%;
} */

.description-icon-inner-container .icon-text-instagram {
    padding-top: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 70%;
}

.description-icon-inner-container .instagram-logo {
    width: 100%;
    max-width: 74%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description-icon-inner-container .icon-text-instagram span {
    font-weight: var(--font-weight-700);
    text-transform: capitalize;
    color: var(--black-color);
    font-style: italic;
    text-align: center;
}

.description-icon-inner-container .facebook-logo {
    width: 100%;
    max-width: 74%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description-icon-inner-container .icon-text-facebook {
    padding-top: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 70%;
}

.description-icon-inner-container .icon-text-facebook span {
    font-weight: var(--font-weight-700);
    text-transform: capitalize;
    color: var(--black-color);
    font-style: italic;
    text-align: center;
}

/* Mobile Screen Service Section Start */


#service-box-no-border{
    border-right:none !important
}


/* CSS FOR THE PARTITION DIV START */
#span2{
    margin-left: 1rem;
}


@media (max-width: 992px) {
    .policies-section {
        display: none !important;
    }

    .mobile-flex {
        display: flex;
        justify-content: center;
    }

    .service-box {
        flex-direction: column;
        align-items: center;
        min-height: 127px;
        display: flex;
        justify-content: center;
        border-radius: 0 !important;
        gap: 1rem;
        padding-right: 2.2rem;
        border-right: 1px solid #f9dada;
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .service-box img {
        max-width: 53% !important;
        margin-right: 1px;
    }

    .product-button-section {
        position: fixed;
        bottom: 0rem;
        left: 0;
        width: 100%;
        z-index: 9999;
        gap: 0rem;
    }

    .product.data.items .item.content {
        padding-left: 0rem !important;
    }


    /* Quantity Div Styling Start */
    .fieldset-add .container-fluid{
        padding-left: 15px !important;
    }
    /* Quantity Div Styling End */

}

@media (min-width: 992px) {
    .policies-section-mobile {
        display: none;
    }

    .product-options-bottom {
        padding: 0px !important;
    }
    .product-discount-banner .product-discount-banner-photo {
        width: 86%;
    }

    .product.data.items .item.content {
        padding-left: 0rem !important;
    }

}

@media (max-width: 380px) {
    /* Product Quantity Section CSS End */

    /* Product Image Section Start */
    .inner-product-img-container {
        display: flex;
        justify-content: center;
    }

    .product-multiple-image {
        width: 29%;
    }

    /* Product Image Section End */
    /* Product Information Section Start */
    .product-decription-container {
        margin-top: 2.51rem;
        padding: 0rem 1rem;
    }

    .title-heading {
        font-size: 1.24rem;
    }

    .star-rating-section .fa-star {
        font-size: 0.9rem;
    }

    .product-price-info .price-container .actual-price {
        font-size: 1.38rem;
    }

    .product-price-info .price-container .old-price {
        font-size: 0.94rem;
    }

    .product-item-tag {
        font-size: 0.87rem;
    }

    .product-quantity-section .qty-heading h6 {
        font-size: 0.87rem;
    }
    .product-availability-info
        .product-availaibility-inner
        .product-item-value {
        font-size: 0.87rem;
    }

    .product-description-section h3 {
        font-size: 1.4rem;
    }

    .product-description-section ul li span {
        font-size: 0.9rem;
    }

    /* Product Information Section Start */

    /* Descriptiion Section Media Responsive Start */
    .description-parent-container
        .review-parent-container
        .description-inner-heading
        .description-heading {
        font-size: 1.1rem;
    }

    .description-parent-container .review-parent-container .parition-breaker {
        font-size: 1.1rem;
    }
    .description-parent-container
        .review-parent-container
        .review-inner-heading
        .review-heading {
        font-size: 1.1rem;
    }

    .description-parent-container
        .description-para-container
        .description-paragraph {
        font-size: 0.8rem;
    }

    .description-icon-inner-container .icon-text-facebook span {
        font-size: 0.8rem;
    }

    .description-icon-inner-container .icon-text-instagram span {
        font-size: 0.8rem;
    }

    .description-icon-inner-container .instagram-logo {
        max-width: 50%;
    }

    .description-icon-inner-container .facebook-logo {
        max-width: 50%;
    }

    .review-parent-container {
        border-bottom: 1px solid var(--product-card-border-color);
    }

    /* Descriptiion Section Media Responsive End */

    /* Cards Section Media Queries Start */

    .carousel-inner {
        padding: 0.2rem 0.4rem;
    }

    .related-product-container {
        border-bottom: 1px solid var(--product-card-border-color);
    }

    .product-card-top-heading {
        font-size: 1.4rem;
    }

    .card-body .price-box-container .current-price {
        font-size: 1.2rem;
    }

    .card-body .price-box-container .old-price {
        font-size: 0.8rem;
    }

    .card-body .star-rating {
        font-size: 0.7rem;
    }

    .card .product-btn .add-to-cart-inner {
        font-size: 0.5rem;
    }

    .card .discount-tag-para .discount-tag-span {
        font-size: 0.69rem;
    }

    .card .product-btn .add-to-cart-inner {
        padding: 0.38rem 0.8rem;
    }

    .card .product-btn .quick-view-btn .bi-eye {
        font-size: 0.7rem;
    }
    .card .product-btn {
        margin-top: 0.4rem;
        margin-bottom: 1rem;
    }

    /* Cards Section Media Queries End */

    /* Services Mobile Screen Changes Start*/
    .service-title {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 400;
    }

    .service-box {
        width: 100%;
        padding-right: 1.2rem;
    }

    /* Services Mobile Screen Changes End*/



}

/* Media Queries for the Mobile Screens (525px) Start*/
@media (min-width: 380px) and (max-width: 525px) {

    /* Product Image Section Start */
    .inner-product-img-container {
        display: flex;
        justify-content: center;
    }

    .product-multiple-image {
        width: 29%;
    }

    /* Product Image Section End */

    /* Product Information Section Start */
    .product-decription-container {
        margin-top: 2.51rem;
        padding: 0rem 1rem;
    }

    .title-heading {
        font-size: 1.4rem;
    }

    .star-rating-section .fa-star {
        font-size: 0.9rem;
    }

    .product-price-info .price-container .actual-price {
        font-size: 1.38rem;
    }
    .product-price-info .price-container .old-price {
        font-size: 0.94rem;
    }

    .product-item-tag {
        font-size: 0.87rem;
    }

    .product-availability-info
        .product-availaibility-inner
        .product-item-value {
        font-size: 0.87rem;
    }

    .product-quantity-section .qty-heading h6 {
        font-size: 0.87rem;
    }

    .product-description-section ul li span {
        font-size: 0.9rem;
    }

    .inner-product-img-container {
        margin-top: 2rem;
    }

    .multiple-product-img-container .inner-product-img-container {
        display: flex;
        justify-content: center;
    }
    .product-multiple-image {
        width: 29%;
    }

    /* Product Information Section Start */

    /* Descriptiion Section Media Responsive Start */
    .description-parent-container
        .review-parent-container
        .description-inner-heading
        .description-heading {
        font-size: 1.1rem;
    }

    .description-parent-container .review-parent-container .parition-breaker {
        font-size: 1.1rem;
    }
    .description-parent-container
        .review-parent-container
        .review-inner-heading
        .review-heading {
        font-size: 1.1rem;
    }

    .description-parent-container
        .description-para-container
        .description-paragraph {
        font-size: 0.8rem;
    }

    .description-icon-inner-container .icon-text-facebook span {
        font-size: 1.2rem;
    }

    .description-icon-inner-container .icon-text-instagram span {
        font-size: 1.2rem;
    }

    .description-icon-inner-container .instagram-logo {
        max-width: 50%;
    }

    .description-icon-inner-container .facebook-logo {
        max-width: 50%;
    }

    .review-parent-container {
        border-bottom: 1px solid var(--product-card-border-color);
    }

    /* Descriptiion Section Media Responsive End */

    /* Cards Section Media Queries Start */

    .carousel-inner {
        padding: 0.2rem 0.4rem;
    }

    .related-product-container {
        border-bottom: 1px solid var(--product-card-border-color);
    }

    .product-card-top-heading {
        font-size: 1.4rem;
    }
    .card-body .card-title {
        font-size: 0.8rem;
    }

    .card-body .price-box-container .current-price {
        font-size: 1.2rem;
    }

    .card-body .price-box-container .old-price {
        font-size: 0.8rem;
    }

    .card-body .star-rating {
        font-size: 0.7rem;
    }

    .card .product-btn .add-to-cart-inner {
        font-size: 0.62rem;
    }

    .card .discount-tag-para .discount-tag-span {
        font-size: 0.69rem;
    }

    .card .product-btn .add-to-cart-inner {
        padding: 0.38rem 0.8rem;
    }

    .card .product-btn .quick-view-btn .bi-eye {
        font-size: 1rem;
    }
    .card .product-btn {
        margin-top: 0.4rem;
        margin-bottom: 1rem;
    }

    /* Cards Section Media Queries End */

    /* Services Mobile Screen Changes Start*/
    .service-title {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
    }

    .service-box {
        width: 100%;
    }

    /* Services Mobile Screen Changes End*/
}

/* Media Queries for the Mobile Screens (525px) End*/

@media (min-width: 525px) and (max-width: 768px) {
    /* Product Image Section Start */
    .inner-product-img-container {
        display: flex;
        justify-content: center;
    }

    .product-multiple-image {
        width: 29%;
    }

    /* Product Image Section End */

    /* Product Information Section Start */
    .product-decription-container {
        margin-top: 2.51rem;
    }

    .product-price-info .price-container .actual-price {
        font-size: 1.38rem;
    }

    .product-price-info .price-container .old-price {
        font-size: 0.94rem;
    }

    .product-item-tag {
        font-size: 0.87rem;
    }
    /* Product Information Section Start */

    /* Descriptiion Section Media Responsive Start */
    .description-parent-container
        .review-parent-container
        .description-inner-heading
        .description-heading {
        font-size: 1.2rem;
    }

    .description-parent-container .review-parent-container .parition-breaker {
        font-size: 1.2rem;
    }
    .description-parent-container
        .review-parent-container
        .review-inner-heading
        .review-heading {
        font-size: 1.2rem;
    }

    .description-parent-container
        .description-para-container
        .description-paragraph {
        font-size: 0.8rem;
    }

    .description-icon-inner-container .icon-text-facebook span {
        font-size: 1.3rem;
    }

    .description-icon-inner-container .icon-text-instagram span {
        font-size: 1.3rem;
    }

    .description-icon-inner-container .instagram-logo {
        max-width: 59%;
    }

    .description-icon-inner-container .facebook-logo {
        max-width: 59%;
    }

    .review-parent-container {
        border-bottom: 1px solid var(--product-card-border-color);
    }
    /* Descriptiion Section Media Responsive End */

    /* Cards Section Media Queries Start */

    .carousel-inner {
        padding: 0.2rem 0.4rem;
    }

    .related-product-container {
        border-bottom: 1px solid var(--product-card-border-color);
    }

    .product-card-top-heading {
        font-size: 1.8rem;
    }

    .card-body .card-title {
        font-size: 1.22rem;
    }

    .card-body .price-box-container .current-price {
        font-size: 1.4rem;
    }

    .card-body .price-box-container .old-price {
        font-size: 1.1rem;
    }

    .card-body .star-rating {
        font-size: 0.8rem;
    }

    .card .product-btn .add-to-cart-inner {
        font-size: 0.91rem;
        padding: 0.38rem 0.8rem;
    }

    .card .product-btn .quick-view-btn .bi-eye {
        font-size: 1.1rem;
    }

    .card .discount-tag-para .discount-tag-span {
        font-size: 0.8rem;
    }
    .card .product-btn {
        margin-top: 0.4rem;
        margin-bottom: 1rem;
    }
    /* Cards Section Media Queries End */

    /* Services Mobile Screen Changes Start*/
    .service-title {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
    }

    .service-box {
        width: 100%;
    }
    /* Services Mobile Screen Changes End*/
}

@media (min-width: 768px) and (max-width: 992px) {
    .description-parent-container
        .review-parent-container
        .description-inner-heading
        .description-heading {
        font-size: 1.2rem;
    }

    .description-parent-container .review-parent-container .parition-breaker {
        font-size: 1.2rem;
    }
    .description-parent-container
        .review-parent-container
        .review-inner-heading
        .review-heading {
        font-size: 1.2rem;
    }

    .description-parent-container
        .description-para-container
        .description-paragraph {
        font-size: 0.8rem;
    }

    .description-icon-inner-container .icon-text-facebook span {
        font-size: 1.4rem;
    }

    .description-icon-inner-container .icon-text-instagram span {
        font-size: 1.4rem;
    }

    .description-icon-inner-container .instagram-logo {
        max-width: 59%;
    }

    .description-icon-inner-container .facebook-logo {
        max-width: 59%;
    }

    .review-parent-container {
        border-bottom: 1px solid var(--product-card-border-color);
    }

    /* Cards Section Media Queries Start */
    .carousel-inner {
        padding: 0.2rem 0.4rem;
    }

    .related-product-container {
        border-bottom: 1px solid var(--product-card-border-color);
    }

    .product-card-top-heading {
        font-size: 2rem;
    }

    .card-body .card-title {
        font-size: 1.22rem;
    }

    .card-body .price-box-container .current-price {
        font-size: 1.4rem;
    }

    .card-body .price-box-container .old-price {
        font-size: 1.1rem;
    }

    .card-body .star-rating {
        font-size: 0.8rem;
    }

    .card .product-btn .add-to-cart-inner {
        font-size: 1rem;
        padding: 0.5rem 0.7rem;
    }

    .card .product-btn .quick-view-btn .bi-eye {
        font-size: 1.28rem;
    }

    .card .discount-tag-para .discount-tag-span {
        font-size: 0.74rem;
    }

    .card .product-btn {
        margin-top: 0.4rem;
        margin-bottom: 1rem;
    }

    /* Cards Section Media Queries End */

    /* Services Mobile Screen Changes Start*/
    .service-title {
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
    }
    /* Services Mobile Screen Changes End*/
}

/* CSS FOR THE DESCRIPTION SECTION END */

@media (min-width: 1200px) {
    .custom-padding-active {
        padding: 0rem 1.8rem;
    }


    /* Related Product Section Styling Start */
    .h-97 {
        height: 98% !important;
    }
    .product-card {
        width: 92% !important;
    }
    .product.photo.product-item-photo>p:first-of-type {
        position: absolute;
        top: 0;
        right: 0;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        text-align: left;
        padding-bottom: 4rem !important ;
    }
    .card-title {
        margin-bottom: 1.8rem !important;
        font-weight: 400;
        font-family: 'Poppins';
    }
    .star-rating {
        margin-bottom: 1rem;
    }
    .product-show {
        height: 100%;
        padding-bottom: 0 !important;
    }
    .price {
        font-size: 19px !important;
    }

    .product-info-price .old-price .price-wrapper .price {
        color: #000;
        text-decoration: line-through;
        font-weight: 400;
        font-size: 1.5rem !important;
    }

    .widget-product-grid {
        height: 100% !important;
    }

    .product-items.widget-product-grid.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-stage-outer .owl-stage {
        height: 100% !important;
    }

    /* Related Product Btn Color Start */
    .owl-prev {
        left: -11px !important;
    }
    .owl-prev, .owl-next {
        position: absolute !important;
        top: 44% !important;
        transform: translateY(-50%) !important;
        background: linear-gradient(to right, #ea1b98, #ff1b00) !important;
        color: #fff !important;
        border: none !important;
        padding: 10px !important;
        cursor: pointer !important;
        width: 24px !important;
        height: 59px !important;
        opacity: 1 !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .catalog-product-view .related .owl-nav .mbi, .catalog-product-view .upsell .owl-nav .mbi, .cart_related .owl-nav .mbi {
        color: #fff !important;
    }
    .owl-next {
        right: -10px !important;
    }
    

    /* Related Product Section Styling End */


}

/* CSS FOR THE PRODUCT PAGE END */

@media screen and (min-width: 768px) {
    .fotorama__stage__frame .fotorama__img {
        width: 100%;
    }
}

.fotorama__stage__frame .fotorama__img {
    height: auto;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 49.5%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    transition-duration: 0.3s;
    transition-property: width, height, top, left;
    vertical-align: middle;
    width: 100%;
}

.fotorama {
    min-width: 1px;
    overflow: hidden;
}
.fotorama {
    min-width: 1px;
    overflow: hidden;
    margin-top: 1.2rem;
}

.product.media {
    display: block;
    position: relative;
}

/* 1400 px Media Query Important for specific Screens */

@media (min-width: 1400px) {
    .icon-box .affordable-price-style {
        width: 76%;
    }

    .icon-box {
        width: 33%;
    }

    .policies-section
        .additional-complete-policy
        .policy-wrap-container
        .policy-content
        .policy-content-heading {
        font-size: 1.9rem;
        text-align: start;
        padding-top: 0.8rem;
        font-weight: var(--font-weight-400);
    }

    .policies-section .additional-complete-policy .policy-wrap-container {
        background-color: #f3f4f6;
        border-radius: 1.6rem;
        padding: 0.7rem 0.4rem;
        gap: 2.8rem;
    }
}

/* 1400 px Media Query Important for specific Screens */

/* Breadcrums Container Styling Start */

@media (min-width: 2100px) {
    .wrapper-breadcrums {
        max-width: 2508px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Breadcrums Container Styling Start */


/* CSS FOR THE RELATED PRODUCTS START */

.catalog-product-view .related.widget-heading-center .heading-title{
    text-align: center !important;
    text-transform: uppercase;
    font-weight: 600 !important;
}


.catalog-product-view .widgetplus.widget-product.related, .catalog-product-view .widgetplus.widget-product.upsell {
    margin-top: 3.2rem;
}


.widget-product .owl-carousel .product-item {
    height: 100%;
    width: 100%;
}

.block.widget .product-item-info {
    height: 100%;
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125) !important;
    border-radius: .25rem;
    height: auto;
    margin: 10px;
}

.product-card {
    text-align: center;
    border: none;
}

.product-items.widget-product-grid.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-stage-outer {
    height: 100% !important;
}

.block.widget .product-item-info {
    height: 100%;
}
.product-show {
    height: 100%;
    padding-bottom: 0 !important;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    font-family: 'Poppins';
}

.star-rating {
    color: #231f20;
}

.star-rating .fa-star {
    color: #ff4081;
}

#black {
    color: #231f20 !important;
}

.price {
    background: linear-gradient(#ea1b98, #ff1b00);
    padding: 0;
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price {
    color: #e74c3c;
    font-weight: 700;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    text-align: left;
    padding: 1.25rem;
}

.price-container .price {
    font-weight: 400 !important;
}
/* Related Product Btn Styling Start */

.price-container .price {
    font-weight: 400 !important;
}

.product-btn>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


.action.tocart.mb-tooltip {
    color: #fff;
    margin-bottom: 1rem;
    background-color: #c53e3e;
    border-radius: 0.6rem;
    padding: 0.7rem 1.2rem;
}

.action.tocart.mb-tooltip .bag-img-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-btn {
    width: 92%;
    padding: 6px 0;
    margin: 21.5px;

}

.catalog-product-view .related .owl-nav, .catalog-product-view .upsell .owl-nav {
    position: relative !important;
    top: -23rem !important;
    right: 0 !important;
}


.product-btn button:hover .mbi, .product-btn a:hover .mbi {
    background-color: #c53e3e !important;
}

/* Related Product Btn Styling End */




/* CSS FOR THE RELATED PRODUCT END */

/* Media Queries For The Related Products Start */

@media (min-width: 1024px) and (max-width: 1366px) {
    .card-title {
        margin-bottom: .75rem;
        font-size: 13.9px !important;
        text-align: center;
        font-weight: 400;
        font-family: 'Poppins';
    }
   
    .star-rating {
        color: #231f20;
        font-size: 14px;
    }
    .price {
        background: linear-gradient(#ea1b98, #ff1b00);
        padding: 0;
        font-size: 17px;
        margin: 0;
        font-weight: lighter;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
/* Media Queries For The Related Products End */


.catalog-product-view .related .category-products, .catalog-product-view .upsell .category-products {
width: 100%;
}

/* CSS FOR THE RELATED PRODUCTS BTN  */

@media (max-width:523px){
    .product-btn .mbi {
        width: 20px !important;
        height: 20px !important;
        font-size: 18px !important;
        line-height: 13px !important;
        display: inline-block;
        border-radius: 50%;
   
 }

 .action.tocart.mb-tooltip{
    margin-bottom: 1rem;
    padding: 0.5rem 0.3rem !important;
    font-size: 0.8rem !important;
 }
   
 .block-product-sidebar .price-container .price, .widgetplus .price-container .price {
    font-size: 0.97rem !important;
}

.price-box {
    margin: 0 0 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.3rem;
    margin-top: 0.4rem;
}

.card-body .card-title {
    text-align: left;
    font-weight: var(--font-weight-400);
    font-size: 1rem;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    min-height: 100% !important;
}

.widget-product .owl-theme .owl-nav .owl-next {
    right: -28px;
    top: 13rem;
}

.product-show .product-card .product-item-photo .discount-percent{
    position: absolute;
    font-size: 10px !important;
    top: 1rem !important;
}   

.product.media .discount-percent{
    font-size: 10px !important;

}


.description-icon-parent-container {
margin-top: 2.7rem;

}

/* Product Button Styling Start */

.product-button-section .add-to-cart-btn {
 font-size: 1.7rem !important;   

}   

.product-button-section .buy-now-btn {
font-size: 1.7rem !important;

}

/* Product Button Styling End */



}
