/* CSS FOR THE CUSTOMER LOGOUT PAGE START  */

.page-title-wrapper .page-title span{
text-align: center;
font-size: 2.7rem;
font-weight: 500;
}


.page-title-wrapper .page-title{
    text-align: center;
}
    
.main-wrap .column.main > p:first-of-type{
    text-align: center;
    margin-top:1rem;

}


/* CSS FOR THE CUSTOMER LOGOUT PAGE END */