<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="OverLMS_LMS" active="true">
        <sequence>    
            <module name="Webkul_MarketplaceLearningManagementSystem"/> 
        </sequence>
    </module>
</config>
