<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webworks_SmartLane::smartlane" title="SmartLane" sortOrder="51">
                    <resource id="Webworks_SmartLane::post" title="Posts" sortOrder="10"/>
                    <resource id="Webworks_SmartLane::config_smartlane" title="Configuration" sortOrder="99" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>