<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sonicbooking>
            <general>
                <enable>1</enable>
                <api_key></api_key>
                <account_type></account_type>
                <shipment></shipment>
            </general>
        </sonicbooking>
    </default>
</config>