<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MarketplaceLearningManagementSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Webkul\Marketplace\Model\Config\Source\Producttype">
		<plugin name="wk_seller_product" type="Webkul\MarketplaceLearningManagementSystem\Plugin\Config\Source\Producttype" sortOrder="1" />
	</type>
    <type name="Webkul\Marketplace\Helper\Data">
		<plugin name="wk_allow_product" type="Webkul\MarketplaceLearningManagementSystem\Plugin\Helper\Data" sortOrder="1" />
	</type>
	<preference for="Webkul\MarketplaceLearningManagementSystem\Api\ContentRepositoryInterface" type="Webkul\MarketplaceLearningManagementSystem\Model\CourseContentRepository"/>
    <preference for="Webkul\MarketplaceLearningManagementSystem\Api\CourseSectionRepositoryInterface" type="Webkul\MarketplaceLearningManagementSystem\Model\CourseSectionRepository"/>
    <preference for="Webkul\MarketplaceLearningManagementSystem\Api\QARecordRepositoryInterface" type="Webkul\MarketplaceLearningManagementSystem\Model\QARecordRepository"/>
    <preference for="Webkul\MarketplaceLearningManagementSystem\Api\QAReplyRepositoryInterface" type="Webkul\MarketplaceLearningManagementSystem\Model\QAReplyRepository"/>
</config>
