<?xml version="1.0"?>
<!--
/**
 * Webkul MpAffiliate module xml
 * @category  Webkul
 * @package   Webkul_Magento2Affiliate
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="Marketplaceaffiliate" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Marketplace Affiliate System</label>
            <tab>webkul</tab>
            <resource>Webkul_MpAffiliate::config_Mpaffiliate</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label" sortOrder="1" type="select" showInDefault="1" showInStore="1" >
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="blog" translate="label comment" sortOrder="2" type="select" showInDefault="1" showInStore="1" >
                    <label>Display blog link on registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="registration" translate="label comment" sortOrder="2" type="select" showInDefault="1" showInStore="1" >
                    <label>Allow affiliate registrations</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_approve" translate="label comment" sortOrder="3" type="select" showInDefault="1" showInStore="1" >
                    <label>Automatically approve affiliates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="min_pay_bal" translate="label comment" sortOrder="4" type="text" showInDefault="1" showInStore="1" >
                    <label>Minimum payout balance</label>
                 <validate>required-entry validate-digits validate-digits-range digits-range-1-31</validate>
                </field>
                <field id="pay_date" translate="label comment" sortOrder="5" type="text" showInDefault="1" showInStore="1" >
                    <label>Payment day of the month</label>
                    <validate>required-entry validate-digits validate-digits-range digits-range-1-31</validate>
                    <comment>days from 1 to 31</comment>
                </field>
                <field id="blog_url_hint" translate="label comment" sortOrder="6" type="textarea" showInDefault="1" showInStore="1" >
                    <label>Blog URL Hint</label>
                    <validate>validate-no-html-tags</validate>
                </field>
                <field id="manager_email" translate="label comment" sortOrder="7" type="text" showInDefault="1" showInStore="1" >
                    <label>Affiliate Manage E-mail</label>
                    <validate>required-entry validate-email</validate>
                </field>
                <field id="aff_user_update_email_template" translate="label comment" type="select" sortOrder="8" showInDefault="1" showInStore="1" >
                    <label>Affiliate user account update by Admin email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>On affiliate user account status update by Admin</comment>
                </field>
                <field id="aff_user_update_email_template_by_seller" translate="label comment" type="select" sortOrder="8" showInDefault="1" showInStore="1" >
                    <label>Affiliate user account update by Seller email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>On affiliate user account status update by Seller</comment>
                </field>
                <field id="aff_user_notify_by_seller_email_template" translate="label comment" type="select" sortOrder="9" showInDefault="1" showInStore="1" >
                    <label>Affiliate user notification by seller email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>When seller send any notification to user</comment>
                </field>
                <field id="email_campaign_template" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInStore="1" >
                    <label>E-mail campaign template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>For e-mail campaign</comment>
                </field>
                <field id="manager_email_template" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInStore="1" >
                    <label>Manager email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>To admin for affiliate sales order approve</comment>
                </field>
                <field id="payment_credit_notify_email_template" translate="label comment" type="select" sortOrder="12" showInDefault="1" showInStore="1" >
                    <label>Payment credit notification email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>When affiliate user payment credited in bank</comment>
                </field>
                <field id="aff_user_email_template" translate="label comment" type="select" sortOrder="13" showInDefault="1" showInStore="1" >
                    <label>Affiliate user email template on order complete</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>On affiliate sales order completed notification</comment>
                </field>
                <field id="seller_email_template_for_order" translate="label comment" type="select" sortOrder="13" showInDefault="1" showInStore="1" >
                    <label>Seller email template on order complete</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>On sales order completed notification to seller</comment>
                </field>
                <field id="affiliate_request_notification" translate="label comment" type="select" sortOrder="13" showInDefault="1" showInStore="1" >
                    <label>Seller notification on request email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Notify Seller when affiliate user sends request</comment>
                </field>
            </group>
            <group id="payment" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment Information</label>
                <field id="sandbox" translate="label comment" sortOrder="6" type="select" showInDefault="1" showInStore="1" >
                    <label>Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payment_methods" translate="label comment" sortOrder="7" type="multiselect" showInDefault="1" showInStore="1" >
                    <label>Assign Payment Methods</label>
                    <source_model>Webkul\MpAffiliate\Model\Config\Source\AffiliateAllowedPaymentMethodsList</source_model>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="commission" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Manage Affiliate General Commission Rates</label>
                <field id="per_click" translate="label comment" sortOrder="1" type="text" showInDefault="1" showInStore="1" >
                    <label>Pay Per Click</label>
                     <validate>required-entry validate-digits validate-digits-range digits-range-1-31</validate>
                    <comment>Set payment for per click</comment>
                </field>
                <field id="unique_click" translate="label comment" sortOrder="2" type="text" showInDefault="1" showInStore="1" >
                    <label>Per Unique Click</label>
                    <validate>required-entry validate-digits validate-digits-range digits-range-1-31</validate>
                    <comment>Set payment for per unique click</comment>
                </field>
                <field id="type_on_sale" translate="label comment" sortOrder="4" type="select" showInDefault="1" showInStore="1" >
                    <label>Set Commission Type For Sale</label>
                    <source_model>Webkul\MpAffiliate\Model\Config\Source\CommissionType</source_model>
                    <comment></comment>
                </field>
                <field id="rate" translate="label comment" sortOrder="5" type="text" showInStore="1" showInDefault="1" >
                    <label>Set Commission</label>
                 <validate>required-entry validate-digits validate-digits-range digits-range-1-31</validate>
                    <comment>Set commission amount</comment>
                </field>
            </group>
            <group id="terms" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Affiliate Program Terms</label>
                <field id="editor_textarea" translate="label comment" sortOrder="1" type="editor" showInStore="1" showInDefault="1" >
                    <label>Must agree to Affiliate Program Terms?</label>
                    <frontend_model>Webkul\MpAffiliate\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
            </group>
            
        </section>
    </system>
</config>
