<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Pwa
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pwa>
            <general_settings>
                <version>1.0.0</version>
            </general_settings>
            <pwa_button_settings>
                <color>#ffff</color>
                <button_color>#663366</button_color>
                <button_position>bottom</button_position>
            </pwa_button_settings>
        </pwa>
    </default>
</config>
